/* Static/css/styles.css */

/* Default dark blue color scheme */
:root {
    --background-color: #283593; /* Dark blue background */
    --text-color: #ffffff; /* White text */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color); /* Set default background color */
    color: var(--text-color); /* Set default text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navigation button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add margin between buttons */
}

.navigation button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.map-section {
    text-align: center;
}

.map-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.user-account {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}

.sliding-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.sliding-content {
    margin-bottom: 20px;
}

.navigation-list {
    list-style: none;
    padding: 0;
}

.navigation-list h3 {
    margin-bottom: 10px;
}

.navigation-list li {
    margin-bottom: 20px;
}

.navigation-list input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.navigation-list input[type="submit"],
.navigation-list button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.navigation-list input[type="submit"]:hover,
.navigation-list button:hover {
    background-color: #45a049;
}

.sliding-page button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.sliding-page button:hover {
    background-color: #d32f2f;
}
